body {
    display : flex;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
    background: rgb(58,93,180);
background: linear-gradient(90deg, rgba(58,93,180,1) 0%, rgba(224,29,253,1) 50%, rgba(252,72,69,1) 100%);
}

#countDownTimer{
    color : #ffffff;
    font-size : 5rem;
    font-weight: 800;
    font-family: sans-serif;
};